<!DOCTYPE html>
<html>
  <head>
    <title>EventSource HQ Chat Example</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="header">ESHQ Chat</h1>
    <div class="chat box">
      <div class="container box">
        <div id="messages" class="messages box">
        </div>
      </div>
      <div id="roster" class="roster">
      </div>
      <div class="chat-bar">
        <form id="message">
          <input class="box" placeholder="Type to chat" name="message"/>
        </form>
      </div>
    </div>

    <div id="overlay" class="overlay"></div>
    <div class="login-box">
      <form id="login">
        <h3>Choose a nick</h3>
        <input name="nick"/>
        <button type="submit">Start chatting</button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="/json2.js"></script>
    <script src="https://app.eventsourcehq.com/es.js"></script>
    <script src="/chat.js"></script>
  </body>
</html>
